.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 270px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	font-weight: bold;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	font-weight: bold;
	color: #fff;
	font-size: 25px;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

h5:hover{
	letter-spacing: 2.5px;
	color: black;

}


#second-section{
	background:#9dbae6
}

    .sidebar-claims {
    margin: 0;
    padding-left:0;
    align: center;
}

.sidebar-claims ul {
    margin: 0;
    padding: 10px;
}

.sidebar-claims li {
	text-align: center;
    width: 32.9%;
    margin-bottom: 3px!important;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    padding:0;
}

.sidebar-claims i {
  display: block;
  margin: 0 auto 10px auto;
	width: 75px;
    height: 75px;
    margin: 10px auto 0;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    color: #23ee0c;
  margin-top:0;
  padding-top:10px;
}


.sidebar-claims  span{
  color:black;
  font-size:20px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'sans-serif;';
  letter-spacing:1px;
}

.sidebar-claims p{
	font-size: 20px;
	color: darkmagenta;

}

.sidebar-claims button
{   background-color: yellow;
	font-size: 20px;
}

.sidebar-claims button:hover
{
	background-color:springgreen;
}


.card-body:hover{
	background-color: yellow;
}


    .pricing {
    margin: 0;
    padding-left:0;
    align: center;
}

.pricing ul {
    margin: 0;
    padding: 10px;
}

.pricing li {
	text-align: center;
    width: 32.9%;
    margin-bottom: 3px!important;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    padding:0;
}
.pricing span{
  color:black;
  font-size:20px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'sans-serif;';
  letter-spacing:1px;
}

.pricing p{
	font-size: 20px;
	color: black;

}

.pricing button
{   background-color: yellow;
	font-size: 20px;
}

.pricing button:hover
{
	background-color:purple;
}

.vds{
	background-color: purple;
	section 
    min-height: 100vh;

}

.fixedwidth
{   padding-left: 150px;
	width: 1200px;
	height: 300px;
	align-content: center;
}

* {
  box-sizing: border-box;
}

.container img {
  vertical-align: middle;
}


.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 80.01px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.life
{
	background-color: lightgrey;
}

.news
{
background-image: url(n1.jpeg);
background-repeat: no-repeat;
background-size: cover;
}

.formcontainer {
  padding-left:300px;

}

input[type=text], input[type=submit] {
  width: 60%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-content: center;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.blogs{
  padding-left: 50px;
  padding-right: 50px;
  align-content: center;
}

.blog {
    margin-bottom: 3rem;
}
.blog {
    position: relative;
}

.blog:before {
    content: " ";
    display: block;
    height: 30px;
    background: url(pattern.png) left top repeat-x;
    margin-bottom: 2em;
}

.blog .title-wrapper {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    text-align: center;
}

.blog h2 {
    display: inline;
    background-color: #fff;
    padding: 0.8em;
}

.work {
    float: left;
    width: 22%;
    margin-right: 4%;
    }

    .work:last-child {
        margin-right: 0;
    }

    .work figure {
        margin-bottom: 1em;
        }

    .work figure > img {
        width: 100%;
    }

    .work button:hover
    {
      background-color: yellow;
    }

    .work button{
      background-color: lightgrey;
    }



.r1{
  display: flex;
}

/* Create two equal columns that sits next to each other */
.c1{
  flex: 50%;
  padding: 10px;
  height: 500px;
}

#lab_social_icon_footer {
  padding: 40px 0;
  background-color: #dedede;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

.address{
    max-width: 85rem;
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.address .detail h1{
    font-size: 25px;
    margin-bottom: 1rem;
}
.address .detail p{
    font-size:20px;
}
.address .detail .detail1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20%;
}
.address .detail .detail1 i{
    margin: 0.5rem;
    cursor: pointer;
}





